*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    background-color: aqua;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
h2{
    font-size: 2rem;
}
b{
    font-size: 3rem;
    font-family: Helvetica;
    margin-bottom: 4rem;
}
button{
  width: 6rem;
  height: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
  
}
button:hover:active{
    scale: 0.9;
}