*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
button{
    padding: 6px 10px;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    background-color: rgb(54, 165, 165);
    cursor: pointer;
}
